section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 70px 70px 70px;
}

#title {
    width: 1000px;
    text-align: center;
    font-size: 40px;
}

.attractions-container {
    position: relative;
    justify-content: space-evenly;
    margin: 0px 80px 80px 80px;
}

.filterSet {
    background-color: #3f1651;
    color: #e53f71;
    justify-content: space-evenly;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

.attractions-container {
    width: 1000px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
}
.attractions-box {
    position: relative;
    border-radius: 10px;
    width: 320px;
    height: 360px;
    justify-content: inline;
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 30px;
    background-color: #3f1651;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.attractions-img {
    border-radius: 10px 10px 0 0;
}

.attractions-text {
    padding: 20px;
}

.attractions-box a {
    color: #f89f5b;
    text-decoration: none;
}

.live-events-container {
    margin-top: 20px;
    display: grid;
    align-items: flex-start;
    text-align: left;
}

.live-events-box {
    border-radius: 10px;
    display: flex;
    width: 900px;
    height: 250px;
    margin-bottom: 30px;
    background-color: #3f1651;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    justify-content: flex;
}

.liveEventImg {
    width: 400px;
    height: 250px;
    display: inline;
    align-content: space-around;
    border-radius: 10px 0 0 10px;
}
.event-details {
    width: 450px;
    padding: 20px;
}

.event-details a {
    color: #f89f5b;
    text-decoration: none;
}

.current-booking-sticky-box {
    height: 180px;
    width: 600px;
    position: sticky;
    left: 1000px;
    margin: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #3f1651;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    padding: 20px;
    align-content: center;
}

.current-booking-title {
    margin-right: 0;
}

#booking-slip {
    margin: -20px;
}
table {
    width: 300px;
}

.payment-button {
    background-color: #f89f5b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    align-self: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}
.payment-button:hover {
    opacity: 0.4;
}
