section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 70px 70px;
}

#title {
    width: 1000px;
    font-size: 40px;
    text-align: center;
}

.filter-set {
    justify-content: space-evenly;
    width: 200px;
    padding: 10px;
    font-size: 18px;
    color: var(--theme-3);
    text-align: center;
    text-decoration: none;
    background-color: var(--theme-6);
    border-radius: 20px;
}

.attractions-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    width: 1000px;
    padding: 10px;
    margin: 0 80px 80px;
}

.attractions-box {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 320px;
    height: 360px;
    margin: 10px;
    margin-bottom: 30px;
    background-color: var(--theme-6);
    border-radius: 10px;
    box-shadow: 10px 10px 20px var(--opaque);
}

.attractions-img {
    border-radius: 10px 10px 0 0;
}

.attractions-text {
    padding: 20px;
}

.attractions-box a {
    color: var(--theme-2);
    text-decoration: none;
}

.live-events-container {
    display: grid;
    align-items: flex-start;
    margin-top: 20px;
    text-align: left;
}

.live-events-box {
    display: flex;
    width: 900px;
    height: 250px;
    margin-bottom: 30px;
    background-color: var(--theme-6);
    border-radius: 10px;
    box-shadow: 10px 10px 20px var(--opaque);
}

.live-event-img {
    display: inline;
    align-content: space-around;
    width: 400px;
    height: 250px;
    border-radius: 10px 0 0 10px;
}

.event-details {
    width: 450px;
    padding: 20px;
}

.event-details a {
    color: var(--theme-2);
    text-decoration: none;
}

.current-booking-sticky-box {
    position: sticky;
    left: 1000px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    width: 600px;
    height: 180px;
    padding: 20px;
    margin: 10px;
    background-color: var(--theme-6);
    border-radius: 10px;
    box-shadow: 10px 10px 20px var(--opaque);
}

.current-booking-title {
    margin-right: 0;
}

#booking-slip {
    margin: -20px;
}

table {
    width: 300px;
}

.payment-button {
    align-self: center;
    padding: 10px 20px;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
    background-color: var(--theme-2);
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 20px var(--opaque);
}

.payment-button:hover {
    opacity: 0.4;
}
