/* Common style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 150ms;
}

:root {
    --theme-1: #fbbede;
    --theme-2: #f89f5b;
    --theme-3: #e53f71;
    --theme-4: #9c3587;
    --theme-5: #653780;
    --theme-6: #3f1651;
    --opaque: rgba(0, 0, 0, 0.6);
    --box-shadow: 10px 10px 20px var(--opaque);
    --translucent: rgba(255, 255, 255, 0.4);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: min-content;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    min-width: 200px;
    max-width: inherit;
    max-height: 150px;
    background-color: var(--theme-4);
}

header h2 {
    flex: 40%;
    min-width: max-content;
    margin-right: 20px;
    margin-left: 60px;
    font-size: 50px;
    color: var(--theme-2);
}

header .nav-menu {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: space-around;
    color: var(--theme-3);
}

header .nav-btn {
    min-height: 100%;
    padding: 30px 20px;
    margin: 30px 0;
    font-size: 25px;
    text-decoration: none;
    border-radius: 20px;
}

header .nav-btn .nav-btn-text {
    min-width: max-content;
}

/* Change colour on link of the nav-btn */
.nav-btn:link,
.nav-btn:visited {
    color: var(--theme-2);
}

/* Change colour on hover the nav-btn */
.nav-btn:hover {
    color: var(--theme-3);
}

header .nav-btn:hover {
    background-color: var(--theme-5);
    box-shadow: var(--box-shadow);
}

.bookings-indicator {
    flex: 10%;
    min-width: fit-content;
    padding: 25px;
    margin-right: 40px;
    margin-left: 20px;
    font-size: 25px;
    color: var(--theme-3);
    text-align: center;
    background-color: var(--theme-6);
    border-radius: 15px 30px;
}

main {
    color: var(--theme-1);
    background-color: var(--theme-5);
}

footer {
    display: flex;
    flex-direction: column;
    height: 20px;
    padding: 20px;
    background-color: var(--theme-4);
}

footer .footer-content {
    align-items: center;
    font-size: 12px;
    color: var(--theme-3);
    text-align: center;
}

.back-to-top-btn {
    position: relative;
    bottom: 20px;
    text-align: right;
}

/* Change colour on link of the back-to-top */
.back-to-top-btn a:link,
.back-to-top-btn a:visited {
    color: var(--theme-2);
}

/* Styling of bottom section */
.bottom-section {
    display: flex;
    align-items: flex-start;
    width: 1200px;
}

.bottom-menu {
    display: flex;
    flex: 42%;
}

.bottom-menu a {
    padding: 10px;
}

.bottom-brand-logo {
    flex: 58%;
}

.bottom-brand-logo h3 {
    font-size: 30px;
    color: var(--theme-2);
}

hr {
    width: 80%;
    border-color: var(--theme-6);
}

.social-media-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-media-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    font-size: 24px;
    color: var(--theme-3);
    text-decoration: none;
    background: var(--theme-6);
    border-radius: 50%;
}

.social-media-icon:hover {
    opacity: 0.6;
}

/* Enable responsive layout - Change to nav-btn row to single column */
@media (max-width: 1000px) {
    header h2 {
        flex: 30%;
    }

    header .nav-menu {
        display: flex;
        flex: 70%;
        flex-direction: column;
    }

    header .nav-menu .nav-btn {
        padding: 10px;
    }

    .bookings-indicator {
        flex: 10%;
    }
}
