/* Display settings apply to all sections */
section {
    z-index: 90;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

section:first-child,
section:last-child {
    margin: 0;
}

/* Styling of brand logo contained in top section */
h1 {
    margin: 50px 0;
    font-size: 130px;
    text-align: center;
}

/* Styling of slideshow container in top section */
#slideshow-container {
    position: relative;
    width: 1000px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

#slides {
    display: flex;
    width: 100%;
    animation: slide 9s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-300%);
    }
}

#slides img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#slogan-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    user-select: none;
    background: var(--opaque);
    border-radius: 10px;
    opacity: 0;
    transition: 600ms;
}

#slogan-text:hover {
    opacity: 1;
}

#buy-tickets-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#buy-tickets-btn {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: var(--theme-3);
    text-align: center;
    text-decoration: none;
    background-color: var(--theme-6);
    border-radius: 0 0 10px 10px;
}

#buy-tickets-btn:hover {
    color: var(--theme-2);
    background-color: var(--theme-4);
}

/* Styling of media-review-container contained in media section and visitor-comment-container contained in visitors' comments section */
.quotes-container {
    position: relative;
    width: 60%;
}

.quotes-block {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: flex;
    gap: 16px;
    align-items: center;
    transition: none;
}

.quotes-block > figure {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    background: var(--theme-3);
    border-radius: 10px 25px;
    box-shadow: var(--box-shadow);
}

.quotes-block > figure blockquote {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
}

.quotes-block > figure blockquote::before {
    position: absolute;
    top: 0;
    left: 8px;
    font-size: 48px;
    color: var(--theme-2);
    content: open-quote;
}

.quotes-block > figure blockquote::after {
    position: absolute;
    /* top or bottom: 0; depends on the length of the content and is unique to the section */
    right: 8px;
    font-size: 48px;
    color: var(--theme-2);
    content: close-quote;
}

.quotes-block > figure figcaption {
    font-size: 16px;
    color: var(--theme-6);
}

.quotes-block label {
    z-index: 99;
    color: var(--theme-6);
    text-shadow: 0 0 12px var(--theme-3);
    cursor: pointer;
}

.quotes-block-status {
    position: absolute;
    bottom: -40px;
    z-index: 99;
    width: 100%;
    text-align: center;
}

.quotes-block-status .dots {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 2px;
    cursor: pointer;
    background: var(--theme-6);
    border-radius: 50%;
    opacity: 0.6;
    transition: opacity 150ms, background 300ms;
}

.quotes-block label:hover,
.quotes-block-status .dots:hover {
    opacity: 0.8;
}

.fa.fa-arrow-circle-left {
    order: -1;
    font-size: 60px;
}

.fa.fa-arrow-circle-right {
    order: 1;
    font-size: 60px;
}

/* Styling unique to media-review-container */
#media-review-container {
    padding-bottom: 6%;
    margin: 50px auto;
}

.review-block > figure blockquote::after {
    top: 0;
}

#r1,
#r2,
#r3 {
    display: none;
}

#r1:checked ~ #rb1,
#r2:checked ~ #rb2,
#r3:checked ~ #rb3 {
    z-index: 9;
}

#r1:checked ~ #review-block-status #dot1,
#r2:checked ~ #review-block-status #dot2,
#r3:checked ~ #review-block-status #dot3 {
    background: white;
}

/* Styling of section-popular-attractions-events contained in attractions & events section */
h2 {
    font-size: 40px;
}

#section-popular-attractions-events {
    width: 1200px;
    margin-top: 20px;
    text-align: center;
}

#section-popular-attractions-events p {
    padding: 8px;
    font-size: 20px;
    color: var(--theme-1);
}

#attractions-events-gallery {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.attractions-events-box {
    display: flex;
    flex-direction: column;
    padding: 0;
    background: var(--theme-6);
    border-radius: 10px;
}

.attractions-events-image img {
    width: 280px;
    height: 200px;
    object-fit: fill;
    border-radius: 10px 10px 0 0;
}

.attractions-events-text {
    padding: 15px 30px 5px;
    font-size: 18px;
}

.see-more-btn {
    align-self: flex-end;
    padding: 20px 30px;
    color: var(--theme-2);
    text-decoration: none;
}

.see-more-btn:hover {
    opacity: 0.6;
}

/* Styling unique to visitor-comment-container */
#visitor-comment-container {
    padding-bottom: 10%;
    margin: 50px auto 100px;
}

.comment-block > figure blockquote {
    quotes: "“" "„";
}

.comment-block > figure blockquote::after {
    bottom: 0;
}

#rr1,
#rr2,
#rr3 {
    display: none;
}

#rr1:checked ~ #c1,
#rr2:checked ~ #c2,
#rr3:checked ~ #c3 {
    z-index: 9;
}

#rr1:checked ~ #comment-block-status #d1,
#rr2:checked ~ #comment-block-status #d2,
#rr3:checked ~ #comment-block-status #d3 {
    background: white;
}
