/* display settings apply to all sections */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

/* styling of brand logo contained in top section */
h1 {
    font-size: 130px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* styling of slideshow container in top section*/
.slideshow-container {
    width: 1000px;
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.slides {
    width: 100%;
    display: flex;
    animation: slide 9s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

.slideshow-container .slides img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slogan-text {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.6s;
    font-size: 30px;
}

.slogan-text:hover {
    opacity: 1;
}

.buy-tickets-container {
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-tickets-container .buy-tickets-btn {
    background-color: #3f1651;
    color: #e53f71;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.buy-tickets-btn:hover {
    background-color: #9c3587;
    color: #f89f5b;
}

/* styling of media-review-container contained in media section and visitor-comment-container contained in visitors' comments section */

.quotes-container {
    position: relative;
    width: 60%;
}

.quotes-block {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 16px;
    inset: 0;
    z-index: -1;
}

.quotes-block > figure {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #e53f71;
    border-radius: 10px 25px 10px 25px;
    text-align: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    order: 1;
    display: flex;
    flex-direction: column;
}

.quotes-block > figure blockquote {
    font-size: 19px;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quotes-block > figure blockquote::before {
    content: open-quote;
    position: absolute;
    font-size: 48px;
    top: 0;
    left: 8px;
    color: #f89f5b;
}

.quotes-block > figure blockquote::after {
    content: close-quote;
    position: absolute;
    font-size: 48px;
    /* top or bottom: 0; depends on the length of the content and is unique to the section */
    right: 8px;
    color: #f89f5b;
}

.quotes-block > figure figurecaption {
    color: #3f1651;
    font-size: 16px;
}

.quotes-block label {
    color: #3f1651;
    z-index: 99;
    cursor: pointer;
    text-shadow: 0 0 12px #e53f71;
}

.quotes-block-status {
    width: 100%;
    bottom: -40px;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.quotes-block-status .dots {
    width: 18px;
    height: 18px;
    margin: 0 2px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: #3f1651;
    opacity: 0.6;
    cursor: pointer;
}

.quotes-block label:hover,
.quotes-block-status .dots:hover {
    opacity: 0.8;
    transition: opacity 150ms;
}

.fa.fa-arrow-circle-left {
    font-size: 60px;
    order: -1;
}
.fa.fa-arrow-circle-right {
    font-size: 60px;
    order: 1;
}

/* styling unique to media-review-container */

.media-review-container {
    margin: 50px auto;
    padding-bottom: 6%;
}

.review-block > figure blockquote::after {
    top: 0;
}

#r1,
#r2,
#r3 {
    display: none;
}

#r1:checked ~ #rb1,
#r2:checked ~ #rb2,
#r3:checked ~ #rb3 {
    z-index: 9;
}

#r1:checked ~ .review-block-status #dot1,
#r2:checked ~ .review-block-status #dot2,
#r3:checked ~ .review-block-status #dot3 {
    background: #fff;
}

/* styling of section-popular-attractions-events contained in attractions & events section */

h2 {
    font-size: 40px;
}

.section-popular-attractions-events {
    width: 1200px;
    margin-top: 20px;
    text-align: center;
}

.section-popular-attractions-events p {
    color: #fbbede;
}

.attractions-events-gallery {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.attractions-events-box {
    display: block;
    height: 280px;
    padding: 0;
    background: #3f1651;
    border-radius: 10px;
}

.attractions-events-image img {
    width: 280px;
    height: 200px;
    object-fit: fill;
    border-radius: 10px 10px 0 0;
}

.see-more-btn {
    padding: 30px;
    text-decoration: none;
    text-align: end;
    color: #f89f5b;
}

.see-more-btn:hover {
    opacity: 0.4;
}

.see-more-text {
    padding-right: 30px;
}

/* styling unique to visitor-comment-container */

.visitor-comment-container {
    margin: 50px auto 100px;
    padding-bottom: 10%;
}

.comment-block > figure blockquote {
    quotes: "“" "„";
}

.comment-block > figure blockquote::after {
    bottom: 0;
}

#rr1,
#rr2,
#rr3 {
    display: none;
}

#rr1:checked ~ #c1,
#rr2:checked ~ #c2,
#rr3:checked ~ #c3 {
    z-index: 9;
}

#rr1:checked ~ .comment-block-status #d1,
#rr2:checked ~ .comment-block-status #d2,
#rr3:checked ~ .comment-block-status #d3 {
    background: #fff;
}
