/* Display settings apply to all sections */
section {
    z-index: 90;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem auto;
}

section:first-child,
section:last-child {
    margin: 0 auto;
}

/* Styling of brand logo contained in top section */
h1 {
    margin: 2.25rem 0;
    font-size: 8rem;
    text-align: center;
}

/* Styling of slideshow container in top section */
#slideshow-container {
    position: relative;
    max-width: 62.5rem;
    overflow: hidden;
    border-radius: 0.625rem 0.625rem 0 0;
}

#slides {
    display: flex;
    width: 100%;
    animation: slide 9s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-300%);
    }
}

#slides img {
    width: 100%;
    object-fit: contain;
}

#slogan-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.875rem;
    text-align: center;
    user-select: none;
    background-color: var(--opaque);
    border-radius: 0.625rem;
    opacity: 0;
    transition: 600ms;
}

#slogan-text:hover {
    opacity: 1;
}

#buy-tickets-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#buy-tickets-btn {
    width: 100%;
    padding: 0.625rem;
    font-size: 1.25rem;
    color: var(--theme-3);
    text-align: center;
    text-decoration: none;
    background-color: var(--theme-6);
    border-radius: 0 0 0.625rem 0.625rem;
}

#buy-tickets-btn:hover {
    color: var(--theme-2);
    background-color: var(--theme-4);
}

/* Styling of media-review-container contained in media section and visitor-comment-container contained in visitors' comments section */
.quotes-container {
    position: relative;
    width: 100%;
    max-width: 45rem;
}

.quotes-block {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: none;
}

.quotes-block > figure {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 100%;
    height: 100%;
    padding: 0.625rem;
    text-align: center;
    background-color: var(--theme-3);
    border-radius: 0.625rem 1.5625rem;
    box-shadow: var(--box-shadow);
}

.quotes-block > figure blockquote {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0 2.5rem;
    font-size: 1.1875rem;
    font-weight: bold;
}

.quotes-block > figure blockquote::before {
    position: absolute;
    top: 0;
    left: 0.5rem;
    font-size: 3rem;
    color: var(--theme-2);
    content: open-quote;
}

.quotes-block > figure blockquote::after {
    position: absolute;
    /* top or bottom: 0; depends on the length of the content and is unique to the section */
    right: 0.5rem;
    font-size: 3rem;
    color: var(--theme-2);
    content: close-quote;
}

.quotes-block > figure figcaption {
    font-size: 1rem;
    color: var(--theme-6);
}

.quotes-block label {
    z-index: 99;
    color: var(--theme-6);
    text-shadow: 0 0 0.75rem var(--theme-3);
    cursor: pointer;
}

.quotes-block-status {
    position: absolute;
    bottom: -2.5rem;
    z-index: 99;
    width: 100%;
    text-align: center;
}

.quotes-block-status .dots {
    position: relative;
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    margin: 0 0.125rem;
    cursor: pointer;
    background-color: var(--theme-6);
    border-radius: 50%;
    opacity: 0.6;
    transition: opacity 150ms, background 300ms;
}

.quotes-block label:hover,
.quotes-block-status .dots:hover {
    opacity: 0.8;
}

.fa.fa-arrow-circle-left {
    order: -1;
    font-size: 3.75rem;
}

.fa.fa-arrow-circle-right {
    order: 1;
    font-size: 3.75rem;
}

/* Styling unique to media-review-container */
#media-review-container {
    max-width: 50rem;
    height: 8rem;
    margin: 3.125rem auto;
}

.review-block > figure blockquote::after {
    top: 0;
}

#r1,
#r2,
#r3 {
    display: none;
}

#r1:checked ~ #rb1,
#r2:checked ~ #rb2,
#r3:checked ~ #rb3 {
    z-index: 9;
}

#r1:checked ~ #review-block-status #dot1,
#r2:checked ~ #review-block-status #dot2,
#r3:checked ~ #review-block-status #dot3 {
    background-color: white;
}

/* Styling of section-popular-attractions-events contained in attractions & events section */
h2 {
    font-size: 2.5rem;
}

#section-popular-attractions-events {
    max-width: 75rem;
    margin-top: 1.25rem;
    text-align: center;
}

#section-popular-attractions-events p {
    font-size: 1.25rem;
    color: var(--theme-1);
}

#attractions-events-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}

.attractions-events-box {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: var(--theme-6);
    border-radius: 0.625rem;
}

.attractions-events-image img {
    width: 17.5rem;
    height: 12.5rem;
    object-fit: fill;
    border-radius: 0.625rem 0.625rem 0 0;
}

.attractions-events-text {
    padding: 0.625rem 1.875rem 0;
    font-size: 1.125rem;
}

.see-more-btn {
    align-self: flex-end;
    padding: 0.9375rem 1.875rem;
    color: var(--theme-2);
    text-decoration: none;
}

.see-more-btn:hover {
    opacity: 0.6;
}

/* Styling unique to visitor-comment-container */
#visitor-comment-container {
    max-width: 60rem;
    height: 10rem;
    margin: 3.125rem auto 6.25rem;
}

.comment-block > figure blockquote {
    quotes: "“" "„";
}

.comment-block > figure blockquote::after {
    bottom: 0;
}

#rr1,
#rr2,
#rr3 {
    display: none;
}

#rr1:checked ~ #c1,
#rr2:checked ~ #c2,
#rr3:checked ~ #c3 {
    z-index: 9;
}

#rr1:checked ~ #comment-block-status #d1,
#rr2:checked ~ #comment-block-status #d2,
#rr3:checked ~ #comment-block-status #d3 {
    background-color: white;
}
